<div layout="row">
    <div class="mdl-color--white mdl-shadow--4dp" flex-sm="100" flex-xs="100" flex="60" flex-offset="20"
         flex-offset-sm="0" flex-offset-xs="0">
        <md-tabs md-dynamic-height md-border-bottom class="md-accent" md-selected="data.selectedIndex"
                 md-center-tabs="true" md-swipe-content="true">
            <md-tab id="tab1">
                <md-tab-label>Basic</md-tab-label>
                <md-tab-body>

                    <md-content layout-padding>

                        <form name="basicForm">

                            <md-input-container class="md-block">
                                <label>Name</label>
                                <input ng-model="basic.name" ng-readonly="true">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Roll Number</label>
                                <input ng-model="basic.roll_no" ng-readonly="true">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Gender</label>
                                <md-select ng-model="basic.gender" ng-disabled="true">
                                    <md-option ng-repeat="g in genders" ng-selected="g==basic.gender" value="{{g}}">
                                        {{g}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-checkbox ng-model="basic.pwd" aria-label="Differently Abled" ng-disabled="true">
                                Differently Abled
                            </md-checkbox>

                            <md-input-container class="md-block">
                                <label>Aadhar Number</label>
                                <input ng-model="basic.aadhar">
                            </md-input-container>

                            <label>Date of Birth</label>
                            <md-datepicker ng-model="dob"
                                           ng-change="basic.dob = (dob.getMonth()+1) + '/' + dob.getDate() + '/' + dob.getFullYear()"
                                           md-placeholder="Enter date">
                            </md-datepicker>

                        </form>

                    </md-content>

                </md-tab-body>
            </md-tab>
            <md-tab id="tab2">
                <md-tab-label>Contact</md-tab-label>
                <md-tab-body>

                    <md-content layout-padding>

                        <form>

                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input ng-model="contact.email" type="email">
                            </md-input-container>

                            <md-input-container class="md-block" style="margin-bottom: 0">
                                <label>Address</label>
                                <textarea ng-model="contact.address" rows="5" md-select-on-focus
                                          style="height: 60px;"></textarea>
                            </md-input-container>

                            <div layout="row">

                                <md-input-container flex="50">
                                    <label>Phone Number</label>
                                    <input ng-model="contact.phone" type="tel">
                                </md-input-container>

                                <md-input-container flex="50">
                                    <label>Landline</label>
                                    <input ng-model="contact.landline" type="tel">
                                </md-input-container>

                            </div>

                        </form>


                    </md-content>

                </md-tab-body>
            </md-tab>
            <md-tab id="tab3">
                <md-tab-label>Guardian</md-tab-label>
                <md-tab-body>

                    <md-content layout-padding>

                        <form>
                            <label>Father</label><br>
                            <div layout="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Name</label>
                                    <input ng-model="guardian.father.name" type="text">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Occupation</label>
                                    <input ng-model="guardian.father.occupation" type="text">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Contact Number</label>
                                    <input ng-model="guardian.father.phone" type="tel">
                                </md-input-container>

                            </div>

                            <label>Mother</label><br>
                            <div layout="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Name</label>
                                    <input ng-model="guardian.mother.name" type="text">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Occupation</label>
                                    <input ng-model="guardian.mother.occupation" type="text">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Contact Number</label>
                                    <input ng-model="guardian.mother.phone" type="tel">
                                </md-input-container>

                            </div>

                        </form>


                    </md-content>

                </md-tab-body>
            </md-tab>
            <md-tab id="tab4">
                <md-tab-label>About Me</md-tab-label>
                <md-tab-body>

                    <md-content style="padding: 16px">

                        <md-input-container class="md-block">
                            <label>About Me</label>
                            <textarea ng-model="about.text" rows="5" md-select-on-focus
                                      style="height: 135px;"></textarea>
                        </md-input-container>

                    </md-content>

                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</div>
