/*===========Global settings===============*/
html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

ul, li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/*==================Index=========================*/
.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-bottom: 10px;
}

.demo-layout .demo-header .mdl-textfield {
    padding: 0px;
    margin-top: 41px;
}

.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
    bottom: 19px;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #212121;
    font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    color: #3F51B5;
}

.demo-drawer {
    border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
    z-index: -1;
}

.demo-drawer .demo-navigation {
    z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
    background-image: url('images/drawer_bg.jpg');
    background-size: cover;
}

.demo-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #212121;
    font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    color: #3F51B5;
}

.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    margin-right: 32px;
}

.demo-navigation .mdl-navigation__link.active {
    color: #3F51B5;
}

/*============Overview=================*/

.mdl-grid {
    max-width: 1080px;
}

.userimage {
    cursor: default;
}

.top-container span {
    position: relative;
    bottom: 6px;
    font-size: 16px;
}

.chart {
    position: relative;
    display: inline-block;
    float: left;
    width: 200px;
    margin: 10px;
    margin-left: 0;
    text-align: center;
    padding: 10px 20px;
}
.chart canvas {
    position: absolute;
    top: 10px;
    left: 20px;
}
.percent {
    display: inline-block;
    font-size: 3em;
    line-height: 200px;
    z-index: 2;
    color: rgb(136, 136, 136);
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

.chart > .label{
    text-align: center;
    color: #333;
    font-size: 1.2em;
    line-height: 2.4em;
}



